@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Повторно изпращане на имейл за потвърждение";
}

<h1 class="login-register-title">@ViewData["Title"]</h1>
<h4 class="login-register-h4">Моля въведете имейл</h4>
<hr class="login-register-hr" />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="login-register-label">Имейл</label>
                <input class="login-register-input-email" asp-for="Input.Email" class="form-control" />
                <span class="login-register-span" asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button class="login-register-btn" type="submit" class="btn btn-primary">Изпрати</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
