<h2 class="about-us-header">За нас</h2>
<hr class="about-us-hr"/>

<img class="for-us-automorgue-pic" src="~/images/automorgue-pic.jpg" alt="Picture">
        
        <div class="for-us-worktime">
            <ul>
                <li class="for-us-worktime-ul-li1">Работно време:</li>
                <br>
                <li>Понеделник - Петък</li>
                <li>08:00 - 17:00</li>
                <br>
                <li>Събота:</li>
                <li>09:00 - 13:00</li>
                <br>
                <li>Неделя:</li>
                <li>Почивен ден</li>
            </ul>
        </div>
        <hr class="body-hr">
        <p class="for-us-text">
            "Parts4Cars" е фирма, която от 15 години се занимава с продажба на авточасти втора употреба. Тя съществува от толкова много време благодарение на членовете й, които влагат цялото си време и старание в просперитета й. Ние, екипът на Parts4Cars, изкупуваме стари коли и предоставяме на нашите клиенти само най-добрите части. Ако те не са доволни, могат да върнат получената стока за наша сметка и да получат купон за отстъпка при следваща покупка. Всеки нов доволен клиент е изключително голям признак за успех. Най-голямата ни цел е да успеем да помогнем на всички български и чъждестранни автомобилисти да поддържат своите автомобили технически изрядни и да се движат безопасно по пътищата с тях. Благодарим Ви за доверието!
        </p>