<h2 class="contacts-header">Контакти</h2>
<hr class="contacts-hr"/>

<div class="contacts-main">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2898.9904856157323!2d27.224636915771608!3d43.398128276904586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a58301dd05bd87%3A0x72b0f07cc66e948d!2z0JDQstGC0L7QvNC-0YDQs9CwICJQYXJ0czRDYXJzIg!5e0!3m2!1sbg!2sbg!4v1650390413404!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <p class="contacts-main-info">За повече информация, моля свържете се с нас.</p>
            <div class="contacts-main-tel">
                <span>Тел: </span> 
                <a href="#">089 123 1234</a>
            </div>
            <div class="contacts-main-email">
                <span class="contacts-main-email-span">Email: </span>
                <a class="contacts-main-email" href="#">example@mail.com</a>
            </div>
        </div>